{% extends "kursach/index.html" %}
{% block content %}
    <form class="form-horizontal" method="post" name="ghost_order">
        <div class="container">
            <h2>Add ghost order</h2>
            {{form.hidden_tag()}}
            <p>
                Please choose town:<br>
                {{form.town}}<br>
                {% for error in form.errors.town %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
                Please enter address:<br>
                {{form.address}}<br>
                {% for error in form.errors.address %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
                Please choose ghost type:<br>
                {{form.ghost}}<br>
                {% for error in form.errors.ghost %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
            </p>
            <p><input type="submit" value="Add new order"></p>
        </div>
    </form>
{% endblock %}