<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="{{ url_for('kursach.static', filename='css/bootstrap.min.css') }}">
<link rel="shortcut icon" href="{{ url_for('kursach.static', filename='favicon.ico') }}">
<head>
    {% if title %}
        <title>{{title}} - kursach</title>
    {% else %}
        <title>Kursach</title>
    {% endif %}
</head>
<body>
<div class="pull-right col-md-2">
    <img src="{{ url_for('kursach.static', filename='ghostbusters_logo-svg.png') }}" class="img-thumbnail" width="150" height="150">
</div>
<div class="container">
    <div class="navbar navbar-static-top col-md-10">
        <a class="navbar-brand" href="#">Kursach</a>
        <div class="pull-right">
            {% if current_user.is_authenticated %}
                <p>Hi {{ (current_user.name, current_user.surname) | join(", ") }}!<p> All current orders: {{ all_orders }}, all free orders: {{ all_free_orders }}
            {% endif %}
        </div>
    </div>
    <div class="navbar-inner col-md-10">
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('kursach.index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('kursach.logout') }}">Logout</a></li>
                <li><a href="{{ url_for('kursach.my_orders') }}">My orders</a></li>
                <li><a href="{{ url_for('kursach.new_orders') }}">New orders</a></li>
            {% endif %}
            {% if not current_user.is_authenticated%}
                <li><a href="{{ url_for('kursach.login') }}">Login</a></li>
                <li><a href="{{ url_for('kursach.registration') }}">Registration</a></li>
                <li><a href="{{ url_for('kursach.add_new_order') }}">Add order</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
</body>
<script src="{{ url_for('kursach.static', filename='js/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('kursach.static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('kursach.static', filename='js/add_order.js') }}"></script>
</html>