{% extends "kursach/index.html" %}
{% block content %}
    <form class="form-horizontal" method="post" name="login">
        <div class="container">
            <h2>Sign In</h2>
            {{form.hidden_tag()}}
            <div>
                Please enter your login:<br>
                {{form.login(size=25)}}<br>
                {% for error in form.errors.login %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
        <div>
                Please enter your password:<br>
                {{form.password}}<br>
                {% for error in form.errors.password %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
        </div>
            <p>{{form.remember_me}} Remember Me</p>
            <p><input type="submit" value="Sign In"></p>
        </div>
    </form>
{% endblock %}