{% extends "kursach/index.html" %}
{% block content %}
    {% for order in orders_list %}
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
            <h3>Order</h3>
            <p>Town - {{order.town}}</p>
            <p>Address - {{order.address}}</p>
            <p>Type - {{order.ghost_type}}</p>
            <p>Dangerous - {{order.dangerous}}</p>
        </div>
    {% endfor %}
{% endblock%}