{% extends "kursach/index.html" %}
{% block content %}
    {% for order in orders %}
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" id="order{{order.id}}">
            <h3>New Order</h3>
            <p>Town - {{order.town}}</p>
            <p>Address - {{order.address}}</p>
            <p>Type - {{order.ghost_type}}</p>
            <p>Dangerous - {{order.dangerous}}</p>
            <p id="answer{{order.id}}">Not added</p>
            <button id="result{{order.id}}" onclick="add_order('{{order.id}}')">Take order</button>
        </div>
    {% endfor %}
{% endblock%}