{% extends "kursach/index.html" %}
{% block content %}
{#    <script src="../static/js/"></script>#}
    <form class="form-horizontal" method="post" name="registration">
        <div class="container">
            <h2>Registration</h2>
            {{form.hidden_tag()}}
            <div>
                Please enter your login:<br>
                {{form.login(min=4, max=25)}}<br>
                {% for error in form.errors.login %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div id="password">
                Please enter your password:<br>
                {{form.password()}}<br>
                {% for error in form.errors.password %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div id="repeat_pass">
                Please repeat password:<br>
                {{form.confirm()}}<br>
                {% for error in form.errors.confirm %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div>
                Please enter your username:<br>
                {{form.username(size=35)}}<br>
                {% for error in form.errors.username %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div>
                Please enter your surname:<br>
                {{form.surname(size=35)}}<br>
                {% for error in form.errors.surname %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div>
                Please enter your specialization:<br>
                {{form.specialization()}}<br>
                {% for error in form.errors.specialization %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div>
                Please enter your email adress:<br>
                {{form.email()}}<br>
                {% for error in form.errors.email %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div>
                Please enter your rank:<br>
                {{form.rank()}}<br>
                {% for error in form.errors.rank %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </div>
            <div>
            <input type="submit" value="Registration">
            </div>
        </div>
    </form>
{% endblock %}